<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BigKite Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BigKite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBA604A02B3C341F0034FC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBA604B02B3C34200034FC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBA604BA2B3C34200034FC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBA604C62B3C34210034FC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBA604D82B3C34210034FC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBA604E22B3C34210034FC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
